<div class="wrapper">
  <div class="box">
    <img id="logo" src="assets/home/logo.png" alt="logo" [routerLink]="['/home']">
  </div>
  <div class="box">
    <a class="box-nav" href="#ex1">Shop</a>
  </div>
  <div class="box">
    <a class="box-nav" *ngIf="currentUser" [routerLink]="['/user']">Profile</a>
  </div>
  <div class="box" id="cart">
    <div *ngIf="currentUser && !subTotal; then thenSrc else elseSrc"></div>
    <ng-template #thenSrc><img class="cart" src="assets/home/cart.png" alt="cart" [routerLink]="['/cart']"></ng-template>
    <ng-template #elseSrc><img class="cart" src="assets/home/cart-full.png" alt="cart" [routerLink]="['/cart']"></ng-template>
  </div>
  <div class="box">
    <a class="login-logout" *ngIf="currentUser" (click)=logout() [routerLink]="['/home']">Logout</a>
    <a class="login-logout" *ngIf="!currentUser" [routerLink]="['/login']">Login</a>
  </div>
</div>
<section>
  <img id="image" src="assets/collection/col-2-example.png" alt="col-1">
  <div id="info">
    <h3>2019 Planner Updated/Dated White Edition</h3>
    <h3 id="main-price">$19.50 <s> $23.50 </s></h3>
    <h6>The perfect planner for filling in your everyday appointments, thoughts and more! This package contains high
      quality, smooth papers and divider Inserts.</h6>
    <button (click)="addToCart()">ADD TO CART</button>
    <div id="message-cart">{{clickMessage}}</div>
  </div>
</section>
<div class="bot-pic-title">
  <h1 class="bot-title" id="bot-title-1">For every planner purchased, </h1>
  <h1 class="bot-title" id="bot-title-2">we give one to someone in need</h1>
</div>
<div id="bot">
  <div id="social">
    <a href="https://gmail.com" class="soc"><img class="link" src="assets/home/gmail.png" alt="gmail"></a>
    <a href="https://www.facebook.com/" class="soc"><img class="link" src="assets/home/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com" class="soc"><img class="link" src="assets/home/instagram.png" alt="instagram"></a>
    <a href="https://twitter.com" class="soc"><img class="link" src="assets/home/twitter.png" alt="twitter"></a>
  </div>
</div>
