.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  grid-template-rows: 90px;
  background-color: #65195d;
  margin: 0 -8px 0 -8px;
}
.wrapper .box {
  display: grid;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.wrapper .box:hover {
  color: #5b5b5b;
}
.wrapper #logo {
  height: 70%;
  margin-left: 40%;
  justify-content: center;
}
.wrapper .box-nav {
  text-decoration: none;
  justify-content: left;
  color: #fff;
}
.wrapper .box-nav:hover {
  color: #5b5b5b;
}
.wrapper .login-logout {
  justify-content: right;
  text-decoration: none;
  color: #fff;
}
.wrapper .login-logout:hover {
  color: #5b5b5b;
}
.wrapper #cart {
  margin-left: 20%;
}
h1 {
  font-weight: bold;
  letter-spacing: 2px;
}
h2 {
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  font-weight: bold;
  letter-spacing: 2px;
}
h4 {
  font-weight: bold;
  letter-spacing: 2px;
}
h5 {
  font-weight: bold;
  letter-spacing: 2px;
}
h6 {
  font-weight: bold;
  letter-spacing: 2px;
}
.cart {
  max-height: 40%;
}
.cart:hover {
  max-height: 45%;
}
#main-picture {
  margin: 0 -8px 0 -8px;
  background-image: url("pic/main-plan.png");
  background-repeat: no-repeat;
  height: 850px;
  background-size: cover;
}
#title-collection {
  text-align: center;
  color: #65195d;
  font-size: 40px;
  padding: 50px;
  margin-bottom: 30px;
}
.title-hover:hover {
  letter-spacing: 5px;
}
#all-collections {
  height: 400px;
  background: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 110px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.col-123 {
  height: 100%;
  width: 300px;
  background: #e8e5e5;
  margin-left: 5%;
  margin-right: 5%;
}
.col-123:hover {
  background: #c0c0c0;
}
.mini-logo-col {
  margin-top: 20px;
}
.desc-mini-logo {
  color: #28282c;
}
.desc-mini-logo:hover {
  letter-spacing: 2px;
}
.example-col {
  margin: 10px 10px;
}
#bot-title-1 {
  padding: 10% 0 0 0;
  margin-bottom: 3%;
  margin-right: 180px;
}
#bot-title-2 {
  padding: 0 0 10% 0;
  margin-left: 180px;
}
.bot-title {
  color: #65195d;
  font-size: 35px;
}
.bot-pic-title {
  background-image: url("pic/bot-pic.png");
  margin-left: -8px;
  margin-right: -8px;
  background-size: 110%;
  align-items: center;
  text-align: center;
  height: 35%;
}
#bot {
  height: 40px;
  margin-left: -8px;
  margin-right: -8px;
  background: #e8e5e5;
  padding: 3%;
}
.soc {
  margin-right: 5%;
  display: inline-block;
}
.link {
  height: 40px;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-rows: 70px;
  }
  .wrapper .box {
    font-size: 15px;
  }
  #main-picture {
    height: 500px;
  }
  .bot-title {
    font-size: 25px;
  }
  #all-collections {
    display: inline;
  }
  .col-123 {
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .mini-logo-col {
    width: 13%;
  }
  .example-col {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .wrapper #logo {
    height: 60%;
    margin-left: 20%;
  }
  .wrapper .box {
    font-size: 9px;
    margin-left: 10%;
    justify-content: center;
  }
  #main-picture {
    height: 300px;
  }
  .col-123 {
    width: 70%;
  }
  .bot-title {
    font-size: 15px;
  }
}
/*# sourceMappingURL=home-window.component.css.map */