<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Jotter</title>
  <script src="//api.backendless.com/sdk/js/latest/backendless.js"></script>
</head>
<body>
<header>
  <img id="main-title" src="assets/home/logo.png" alt="logo" [routerLink]="['/home']">
  <nav id="menu">
    <a id="shop" href="#ex1">Shop</a>
    <a>Help</a>
    <a *ngIf="currentUser" (click)=logout() [routerLink]="['/home']">Logout</a>
    <a *ngIf="!currentUser" [routerLink]="['/login']">Login</a>
    <a *ngIf="currentUser" [routerLink]="['/user']">Profile</a>
  </nav>
  <img id="cart" *ngIf="currentUser" src="assets/home/cart.png" alt="cart" [routerLink]="['/cart']">
</header>
<img id="main-pic" src="assets/home/main-plan.png" alt="main-plan">
<section id="ex1">
  <h1 id="title-collection" class="title-hover">Collections</h1>
  <div id="all-collections">
    <div class= "col-123" [routerLink]="['/collection-1']">
      <img class="mini-logo-col" src="assets/home/col-1.png" alt="col-1">
      <h3 class="desc-mini-logo">2019 updated/dated</h3>
      <img class="example-col" src="assets/home/col-1-example.png" alt="col-1">
    </div>
    <div class= "col-123" [routerLink]="['/collection-2']">
      <img class="mini-logo-col" src="assets/home/col-2.png" alt="col-2">
      <h3 class="desc-mini-logo">academic</h3>
      <img class="example-col" src="assets/home/col-2-example.png" alt="col-2">
    </div>
    <div class= "col-123" [routerLink]="['/collection-3']">
      <img class="mini-logo-col" src="assets/home/col-3.png" alt="col-3">
      <h3 class="desc-mini-logo">limited edition</h3>
      <img class="example-col" src="assets/home/col-3-example.png" alt="col-3">
    </div>
  </div>
</section>
<div class="bot-pic-title">
  <h1 class="bot-title" id="bot-title-1">For every planner purchased, </h1>
  <h1 class="bot-title" id="bot-title-2">we give one to someone in need</h1>
</div>
<div id="bot">
  <div id="social">
    <a href="https://gmail.com" class="soc"><img class="link" src="assets/home/gmail.png" alt="gmail"></a>
    <a href="https://www.facebook.com/" class="soc"><img class="link" src="assets/home/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com" class="soc"><img class="link" src="assets/home/instagram.png" alt="instagram"></a>
    <a href="https://twitter.com" class="soc"><img class="link" src="assets/home/twitter.png" alt="twitter"></a>
  </div>
</div>
</body>
</html>


