<div class="wrapper">
  <div class="box">
    <img id="logo" src="assets/home/logo.png" alt="logo" [routerLink]="['/home']">
  </div>
  <div class="box">
    <a class="box-nav" href="#ex1">Shop</a>
  </div>
  <div class="box">
    <a class="box-nav" *ngIf="currentUser" [routerLink]="['/user']">Profile</a>
  </div>
  <div class="box" id="cart">
    <div *ngIf="currentUser && !subTotal; then thenSrc else elseSrc"></div>
    <ng-template #thenSrc><img class="cart" src="assets/home/cart.png" alt="cart" [routerLink]="['/cart']"></ng-template>
    <ng-template #elseSrc><img class="cart" src="assets/home/cart-full.png" alt="cart" [routerLink]="['/cart']"></ng-template>
  </div>
  <div class="box">
    <a class="login-logout" *ngIf="currentUser" (click)=logout() [routerLink]="['/home']">Logout</a>
    <a class="login-logout" *ngIf="!currentUser" [routerLink]="['/login']">Login</a>
  </div>
</div>
<div id="cart-form">
  <a class="headline">My Cart</a>
  <div id="col-1" *ngIf="!((this.currCart).indexOf(1) == -1)">
    <img class="image" src="assets/cart/col-1.png" alt="col-1">
    <div class="info">
      <h5>PLANNER UPDATED/DATED BLACK EDITION</h5>
      <h5 *ngIf="amt1 != 1">x{{amt1}}</h5>
      <h3>$20.50</h3>
      <button class="delete" (click)="delete(1)">DELETE</button>
    </div>
  </div>
  <div id="col-2" *ngIf="!((this.currCart).indexOf(2) == -1)">
    <img class="image" src="assets/cart/col-2.png" alt="col-1">
    <div class="info">
      <h5>PLANNER UPDATED/DATED WHITE EDITION</h5>
      <h5 *ngIf="amt2 != 1">x{{amt2}}</h5>
      <h3>$19.50</h3>
      <button class="delete" (click)="delete(2)">DELETE</button>
    </div>
  </div>
  <div id="col-3" *ngIf="!((this.currCart).indexOf(3) == -1)">
    <img class="image" src="assets/cart/col-3.png" alt="col-1">
    <div class="info">
      <h5>PLANNER UPDATED/DATED BLUE EDITION</h5>
      <h5 *ngIf="amt3 != 1">x{{amt3}}</h5>
      <h3>$21.50</h3>
      <button class="delete" (click)="delete(3)">DELETE</button>
    </div>
  </div>
  <hr id="line"/>
  <div *ngIf=(subTotal) class="headline">
    <h4>TOTAL</h4>
    <div id = "total-info">
      <h5>Sub-total: ${{subTotal}}</h5>
      <h5>Delivery: FREE</h5>
    </div>
    <button id = "total-button" (click)="check()" [routerLink]="['/check']">CHECKOUT</button>
  </div>
</div>
<div class="bot-pic-title">
  <h1 class="bot-title" id="bot-title-1">For every planner purchased, </h1>
  <h1 class="bot-title" id="bot-title-2">we give one to someone in need</h1>
</div>
<div id="bot">
  <div id="social">
    <a href="https://gmail.com" class="soc"><img class="link" src="assets/home/gmail.png" alt="gmail"></a>
    <a href="https://www.facebook.com/" class="soc"><img class="link" src="assets/home/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com" class="soc"><img class="link" src="assets/home/instagram.png" alt="instagram"></a>
    <a href="https://twitter.com" class="soc"><img class="link" src="assets/home/twitter.png" alt="twitter"></a>
  </div>
</div>
