.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  grid-template-rows: 90px;
  background-color: #65195d;
  margin: 0 -8px 0 -8px;
}
.wrapper .box {
  display: grid;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.wrapper .box:hover {
  color: #5b5b5b;
}
.wrapper #logo {
  height: 70%;
  margin-left: 40%;
  justify-content: center;
}
.wrapper .box-nav {
  text-decoration: none;
  justify-content: left;
  color: #fff;
}
.wrapper .box-nav:hover {
  color: #5b5b5b;
}
.wrapper .login-logout {
  justify-content: right;
  text-decoration: none;
  color: #fff;
}
.wrapper .login-logout:hover {
  color: #5b5b5b;
}
.wrapper #cart {
  margin-left: 20%;
}
h1 {
  font-weight: bold;
  letter-spacing: 2px;
}
h2 {
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  font-weight: bold;
  letter-spacing: 2px;
}
h4 {
  font-weight: bold;
  letter-spacing: 2px;
}
h5 {
  font-weight: bold;
  letter-spacing: 2px;
}
h6 {
  font-weight: bold;
  letter-spacing: 2px;
}
nav {
  margin-right: 15%;
}
nav a {
  font-weight: bold;
  font-size: 20px;
  padding-right: 25%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  color: #5b5b5b;
}
.cart {
  max-height: 40%;
}
.cart:hover {
  max-height: 45%;
}
#cart-form {
  background: #ffffff;
  margin: 0 auto;
  width: 60%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3% 5% 3% 5%;
}
.image {
  width: 40%;
  vertical-align: top;
  display: inline-block;
  margin: 30px 0;
}
.info {
  width: 60%;
  vertical-align: top;
  display: inline-block;
  margin: 30px 0;
}
#line {
  align: center;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #eaeaea;
  margin-bottom: 50px;
}
.headline {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
}
#total-info {
  display: inline-block;
  vertical-align: middle;
  width: 35%;
  margin-right: 10%;
}
#total-button {
  display: inline-block;
  vertical-align: middle;
}
button {
  background-color: #c3c3c3;
  border: 0;
  width: 190px;
  height: 45px;
  color: white;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  background-color: #d7d7d7;
}
.delete {
  vertical-align: bottom;
  margin-right: 8%;
  margin-top: 8%;
}
#bot-title-1 {
  padding: 10% 0 0 0;
  margin-bottom: 3%;
  margin-right: 180px;
}
#bot-title-2 {
  padding: 0 0 10% 0;
  margin-left: 180px;
}
.bot-title {
  color: #65195d;
  font-size: 35px;
}
.bot-pic-title {
  background-image: url("../pic/bot-pic.png");
  margin-left: -8px;
  margin-right: -8px;
  background-size: 110%;
  align-items: center;
  text-align: center;
  height: 35%;
}
#bot {
  height: 40px;
  margin-left: -8px;
  margin-right: -8px;
  background: #e8e5e5;
  padding: 3%;
}
.soc {
  margin-right: 5%;
  display: inline-block;
}
.link {
  height: 40px;
}
@media screen and (max-width: 1000px) {
  #cart-form {
    width: 70%;
  }
  .delete {
    margin-top: 6%;
  }
  .wrapper {
    grid-template-rows: 70px;
  }
  .wrapper .box {
    font-size: 15px;
  }
  .bot-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .wrapper #logo {
    height: 60%;
    margin-left: 20%;
  }
  .wrapper .box {
    font-size: 9px;
    margin-left: 10%;
    justify-content: center;
  }
  #cart-form {
    width: 80%;
  }
  #shop {
    display: none;
  }
  button {
    height: 35px;
    width: 150px;
  }
  .bot-title {
    font-size: 15px;
  }
}
@media screen and (max-width: 590px) {
  #total-info {
    width: 70%;
  }
}
/*# sourceMappingURL=cart-window.component.css.map */